<?xml version="1.0" encoding="UTF-8"?>

<web-app id="ErasmusAdvisor" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
	<display-name>Erasmus Advisor</display-name>
    <description>
        Erasmus Advisor is a web application that holds information about Erasmus and Erasmus
        students, by showing flows, universities and interesting stuffs regarding
        an Erasmus trip.
    </description>

	<!-- Home Page -->
	<welcome-file-list>
		<welcome-file>jsp/home.jsp</welcome-file>
	</welcome-file-list>
    
    <!-- Make available connection's pool to the application web -->
    <resource-ref>
        <description>Database connection</description>
        <res-ref-name>jdbc/erasmusadvisor</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <!-- HTTP error codes (one per error page) -->
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error.jsp</location>
	</error-page>
    
    <!-- Servlet list. Remember to keep servlet and servlet-mapping combined -->
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.SignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/sign-in</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FlowServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.FlowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlowServlet</servlet-name>
		<url-pattern>/flow</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CityServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.CityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityServlet</servlet-name>
		<url-pattern>/city</url-pattern>
	</servlet-mapping>
	
	<servlet> <!-- DEPRECATO -->
		<servlet-name>InsertFlowServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.InsertFlowServlet</servlet-class>
	</servlet>
	
	<servlet-mapping> <!-- DEPRECATO -->
		<servlet-name>InsertFlowServlet</servlet-name>
		<url-pattern>/insert-flow</url-pattern>
	</servlet-mapping>
	<!-- servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.LogInServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EvaluateServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.EvaluateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EvaluateServlet</servlet-name>
		<url-pattern>/student/evaluate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UniversityEvaluationsServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.UniversityEvaluationsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UniversityEvaluationServlet</servlet-name>
		<url-pattern>/university/evaluations</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UniversityServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.UniversityServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UniversityServlet</servlet-name>
		<url-pattern>/university</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UniversityListServlet</servlet-name>
		<servlet-class>it.unipd.dei.bding.erasmusadvisor.servlets.UniversityListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UniversityListServlet</servlet-name>
		<url-pattern>/university/list</url-pattern>
	</servlet-mapping-->
</web-app>

<!--
	############### Notes ###############
		
	###### Custom Error Pages
	It may be useful to include some custom error pages.
	
	### HTTP error codes (one per error page)
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/NotFound.jsp</location>
	</error-page>
	
	### servlet exceptions
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/error.jsp</location>
	</error-page>
	
	###### Direct Access Restriction
	This code should be tested, but it should forbid direct access to files
	in selected folders.
	
	<security-constraint>
	    <display-name>Restrict direct access to certain folders</display-name>
	    <web-resource-collection>
	        <web-resource-name>Restricted folders</web-resource-name>
	        <url-pattern>/css/*</url-pattern>
	        <url-pattern>/fonts/*</url-pattern>
	        <url-pattern>/img/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint />
	</security-constraint>
	
	###### Used with servlets 
	  
	## Declaration
	<servlet>
		<servlet-name>HelloWorldPost</servlet-name>
		<servlet-class>it.unipd.dei.bding.HelloWorldPostServlet</servlet-class>
	</servlet>
	
 	## Mapping between servlets and URIs 
	<servlet-mapping>
		<servlet-name>HelloWorldPost</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloWorldPost</servlet-name>
		<url-pattern>/ciao</url-pattern>
	</servlet-mapping>
--> 
		